export CARTESIA_API_KEY=""
export CARTESIA_VOICE_ID=""
export CARTESIA_MODEL_ID="sonic-3"
export CARTESIA_VERSION="2025-04-16"
export CARTESIA_LANGUAGE="en"
export CARTESIA_SPEED="1.0"
export CARTESIA_VOLUME="1.0"
export CARTESIA_EMOTION="calm"
export CARTESIA_MAX_CHARS="6000"
